<div class="score-container">
  <h3>Score: {{ score$ | async}}</h3>
</div>
<div *ngIf="currentQuestion$; else resultTemplate">
  <app-question [question]="(currentQuestion$|async)?.text"></app-question>
  <div class="answers">
    <app-answer
      *ngFor="let answer of (currentQuestion$|async)?.answers"
      [answer]="answer"
      [selectedAnswer]="selectedAnswer$|async"
      (answerClicked)="onAnswerSelected(answer)"
    ></app-answer>
  </div>
</div>
<ng-template #resultTemplate>
  <div class="result-container">
    <h2>Quiz Completed!</h2>
    <h3>Your final score: {{ score$|async }}</h3>
  </div>
</ng-template>