<div class="score-container">
  <h3>Score: {{ score }}</h3>
</div>
<div *ngIf="currentQuestion; else resultTemplate">
  <app-question [question]="currentQuestion.text"></app-question>
  <div class="answers">
    <app-answer
      *ngFor="let answer of currentQuestion.answers"
      [answer]="answer"
      [selectedAnswer]="selectedAnswer"
      (answerClicked)="onAnswerSelected(answer)"
    ></app-answer>
  </div>
</div>
<ng-template #resultTemplate>
  <div class="result-container">
    <h2>Quiz Completed!</h2>
    <h3>Your final score: {{ score }}</h3>
  </div>
</ng-template>